h1
{
	background-color: gray;
	color: black;
	width: 100%;
}
h3
{
	margin: 0;
	padding-bottom: 4px;
	margin-bottom: 4px;
	border-bottom: 2px solid gray;
}
body
{
	color: gray;
	background-color: rgb(32, 32, 32);
}
img
{
	height: 25px;
	vertical-align: bottom;
}
img.github
{
	margin-top: 3px;
	vertical-align: top;
	mix-blend-mode: multiply;
	height: 30px;
}
div:has(>h3)
{
	padding: 4px;
	border-left: 2px solid gray;
	display: inline-block;
	vertical-align: top;
}
center
{
	display: block;
}
button
{
	margin: 10px;
	color: gray;
	background-color: rgb(32, 32, 32);
}
textarea
{
	field-sizing: content;
	width: 100%;
	color: gray;
	background-color: rgb(32, 32, 32);
}